








/* Estilos para pantallas más pequeñas que 500px */
img {
  
    max-width: 100%;
    height: auto;
    filter: drop-shadow(5px 7px 5px gold);



  }
  


  /* Estilos para pantallas de 500px o más */
  @media (min-width: 700px) {

    .cdz {
      content: url('../p-dorado.png'); /* Cambia 'imagen2.jpg' por el nombre de tu segunda imagen */
    }

  }
  